<p style="color: green"><%= notice %></p>

<%= render @genero %>

<div>
  <%= link_to "Edit this genero", edit_genero_path(@genero) %> |
  <%= link_to "Back to generos", generos_path %>

  <%= button_to "Destroy this genero", @genero, method: :delete %>
</div>
