<div id="<%= dom_id serie_tv %>">
  <p>
    <strong>Poster:</strong>
    <%= serie_tv.poster %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= serie_tv.name %>
  </p>

  <p>
    <strong>Others title:</strong>
    <%= serie_tv.others_title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= serie_tv.year %>
  </p>

  <p>
    <strong>Temporadas:</strong>
    <%= serie_tv.temporadas %>
  </p>

  <p>
    <strong>Capitulos:</strong>
    <%= serie_tv.capitulos %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= serie_tv.director %>
  </p>

  <p>
    <strong>Reparto:</strong>
    <%= serie_tv.reparto %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= serie_tv.sinopsis %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= serie_tv.audio %>
  </p>

  <p>
    <strong>Calidad:</strong>
    <%= serie_tv.calidad %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= serie_tv.status %>
  </p>

  <p>
    <strong>Formato video:</strong>
    <%= serie_tv.formato_video %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= serie_tv.codigo %>
  </p>

</div>
