<%= turbo_frame_tag "modal-peliculas" do%>
  <%= form_with(model: pelicula, local: false, data: { visit: @editing }, id: "form-peliculas") do |form| %>
    <% if pelicula.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pelicula.errors.count, "error") %> prohibited this pelicula from being saved:</h2>
        <ul>
          <% pelicula.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :poster %>
      <%= form.file_field :poster %>
    </div>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :date_estreno, "Fecha de Estreno" %>
      <%= form.date_select :date_estreno, { order: [:day, :month, :year] }, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :sinopsis %>
      <%= form.text_area :sinopsis %>
    </div>
    <div class="field">
      <span>Generos:</span>
      <br>
      <%= form.collection_check_boxes(:genero_ids, Genero.all, :id, :name) do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<%end%>
