<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Poster:</strong>
    <%= pelicula.poster %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pelicula.name %>
  </p>

  <p>
    <strong>Others titles:</strong>
    <%= pelicula.others_titles %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= pelicula.year %>
  </p>

  <p>
    <strong>Duration hours:</strong>
    <%= pelicula.duration_hours %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= pelicula.duration_minutes %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= pelicula.director %>
  </p>

  <p>
    <strong>Reparto:</strong>
    <%= pelicula.reparto %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= pelicula.sinopsis %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= pelicula.audio %>
  </p>

  <p>
    <strong>Calidad:</strong>
    <%= pelicula.calidad %>
  </p>

  <p>
    <strong>Formato video:</strong>
    <%= pelicula.formato_video %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= pelicula.codigo %>
  </p>

</div>
