<div class="row">
  <div class="col-8">
    <%= pf.label :plataforma_pelicula_id, "Plataforma", class:"form-label" %>
    <%= pf.collection_select :plataforma_pelicula_id, PlataformaPelicula.all, :id, :name, {}, {class: "form-select"} %>
  </div>
  <div class="col-4">
    <%= pf.label :valor, "Puntuación", class:"form-label" %>
    <%= pf.number_field :valor, step: "0.01", min: "0", class:"form-control"%>
  </div>
  <div class="col-12">
    <%= pf.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: "remove_fields_ranking" %>
  </div>
</div>
