<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag "generos" do %>
  <div class="container mt-5">
    <div class="flex overflow-x-scroll gap-2 my-4">
      <%= render(GeneroComponent.new) %>
      <%= render(GeneroComponent.with_collection(@generos)) %>
    </div>
    <div class="row">
      <%= render partial: "pelicula", collection: @peliculas %>
    </div>
  </div>
<% end %>
<%= render partial: "modal-peliculas"%>