<main class="main">
  <%= turbo_frame_tag "generos" do %>
    <div class="flex overflow-x-scroll gap-2 my-4">
      <%= render(GeneroComponent.new) %>
      <%= render(GeneroComponent.with_collection(@generos)) %>
    </div>
    <!--==================== MOVIES ====================-->
    <section class="movie">
      <h3 class="card__title">Movies</h3>
      <div class="movie__swiper swiper">
        <div class="row swiper-wrapper">
          <%= render partial: "pelicula", collection: @peliculas %>
        </div>
      </div>
    </section>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  <% end %>
</main>
<%= render partial: "modal-peliculas"%>