<%= turbo_frame_tag "peliculas" do%>
  <main class="main">
    <!-- FILTROS DE BUSQUEDA -->
    <ul>
      <%= form_with url: peliculas_path, method: :get do |form| %>
        <div class="d-flex justify-content-between align-items-center"">
          <div class="d-inline-block">
            <div class="header__search">
              <i class="ri-search-line"></i>
              <%= form.text_field :query_text, placeholder: "Buscar Pelicula", class: "header__input", onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
            </div>
          </div>
          <div class="d-inline-block ms-4">
            <li class="nav__link align-middle ">
              <i class="ri-list-ordered"></i>
              <span class="fw-bold">Ordenar Por</span>
            </li>
            <div class="select-box div-order ms-2 align-middle ">
              <%= form.select :order_by, options_for_select(Pelicula::ORDER_BY.keys.map { |order| [t(".#{order}"), order] }, params[:order_by]), {}, { onChange: 'this.form.requestSubmit()', class: "select-order mt-4" } %>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
          </div>
          <%= link_to peliculas_path, remote: true, method: :get, class:"btn btn-info text-white " do %>
            <i class="ri-refresh-line"></i> <span>Restablecer</span>
          <%end%>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <li class="nav__link align-middle">
            <i class="ri-sound-module-fill"></i>
            <span class="fw-bold">Filtrar Por</span>
          </li>
          <div class="select-box div-genero ms-2 align-middle">
            <span class="label">Genero : </span>
            <%= select_tag :genero, options_for_select(@generos, params[:genero]), include_blank: "Todos", class:"select-genero", onChange: 'this.form.requestSubmit()' %>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="select-box div-year ms-2 align-middle">
            <span class="label">Año : </span>
            <%= select_tag :year_estreno, options_for_select(@year_estreno, params[:year_estreno]), include_blank: "Todos", class:"select-year", onChange: 'this.form.requestSubmit()' %>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="select-box div-clasification ms-2 align-middle">
            <span class="label">Clasificación : </span>
            <%= select_tag :clasification, options_for_select(@clasifications_peliculas, params[:clasification]), include_blank: "Todos", class:"select-clasification", onChange: 'this.form.requestSubmit()' %>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
        </div>
      <% end %>
    </ul>
    <!--==================== MOVIES ====================-->
    <div class="container">
      <div class="row ">
        <%= render partial: "pelicula", collection: @peliculas %>
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </main>
<% end %>
<%= render partial: "modal-peliculas"%>
