<p style="color: green"><%= notice %></p>
<div>
  <%= link_to new_pelicula_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<div class="container mt-5">
  <h1 class="mb-4">CATALOGO DE PELICULAS</h1>
  <div class="row">
    <% @peliculas.each do |pelicula| %>
      <a href="<%= pelicula_path(pelicula) %>" >
        <div class="col-4 col-sm-3 col-md-2 mb-4">
          <div class="card bg-secondary">
            <%= image_tag pelicula.poster, class: "card-img-top", alt: pelicula.name %>
            <h6 class="card-title text-white text-center fs-6"><%= pelicula.name %></h6>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
<%= render 'modal_peliculas' %>