<%= turbo_frame_tag "modal-peliculas" do%>
  <%= button_to "Edit this pelicula", edit_pelicula_path(@pelicula), remote: true, method: :get, class: "btn btn-info", data: { turbo_frame: "modal-peliculas"} if Current.user&.admin? %>
  <%= button_to "Destroy this pelicula", @pelicula, method: :delete, data: { confirm: "Are you sure?" } if Current.user&.admin? %>
  <div class="col-md-4">
    <%= image_tag @pelicula.poster, class: "img-fluid", alt: @pelicula.name if @pelicula.poster.attached? %>
  </div>
  <div class="col-md-8">
    <h1><%= @pelicula.name %></h1>
    <p><strong>Sinopsis:</strong> <%= @pelicula.sinopsis %></p>
    <p><strong>Fecha Estreno:</strong> <%= @pelicula.date_estreno.strftime("%d / %m / %Y") %></p>
    <p><strong>Duración:</strong> <%= @pelicula.duration_hours %>h <%= @pelicula.duration_minutes %>m</p>
    <p><strong>Director:</strong> <%= @pelicula.director %></p>
    <p><strong>Reparto:</strong> <%= @pelicula.reparto %></p>
    <p><strong>Disponible:</strong> <%= @pelicula.disponible ? 'Sí' : 'No' %></p>
    <p><strong>Link del Trailer:</strong> <a href="<%= @pelicula.link_trailer %>" target="_blank"><%= @pelicula.link_trailer %></a></p>
  </div>
<%end%>