<div id="<%= dom_id juego %>">
  <p>
    <strong>Poster:</strong>
    <%= juego.poster %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= juego.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= juego.year %>
  </p>

  <p>
    <strong>Desarrollador:</strong>
    <%= juego.desarrollador %>
  </p>

  <p>
    <strong>Plataforma:</strong>
    <%= juego.plataforma %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= juego.sinopsis %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= juego.audio %>
  </p>

  <p>
    <strong>Calidad:</strong>
    <%= juego.calidad %>
  </p>

  <p>
    <strong>Formato video:</strong>
    <%= juego.formato_video %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= juego.codigo %>
  </p>

</div>
