<div id="<%= dom_id anime %>">
  <p>
    <strong>Poster:</strong>
    <%= anime.poster %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= anime.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= anime.year %>
  </p>

  <p>
    <strong>Temporadas:</strong>
    <%= anime.temporadas %>
  </p>

  <p>
    <strong>Capitulos:</strong>
    <%= anime.capitulos %>
  </p>

  <p>
    <strong>Sinopsis:</strong>
    <%= anime.sinopsis %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= anime.audio %>
  </p>

  <p>
    <strong>Calidad:</strong>
    <%= anime.calidad %>
  </p>

  <p>
    <strong>Formato video:</strong>
    <%= anime.formato_video %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= anime.codigo %>
  </p>

</div>
